.title {
    padding-top: 10px;
    padding-inline: 12px;
    margin-bottom: 15px;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
}